/* Name: Benjamin Gallegos
Class: Intermediate Web Programming
Assignment: Semester Project */

/* This semester project is based on JavaScript code we learned in class, using it in an application like a JavaScript/HTML/CSS Random Color Palette Generator. Credit to the tutorial I followed online for this project: Source: YouTube/Channel: Tyler Potts/Link: https://www.youtube.com/watch?v=y9F-XzrYIrs&list=PL2V0XMPQmXlFzTI7VMHHIGbAeqm9hAZcL&index=7&t=29s */

:root {
    /* using css variables for standard options below */
    --primary: #D81E5D;
    --secondary: #8a4fff;
    --light: #eee;
    --grey: #aaa;
    --dark: #1e2f42;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', sans-serif;
}

button, input{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}

button{
    cursor: pointer;
}

body{
    background: var(--light);
}

main{
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    color: var(--dark);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p{
    color: var(--grey);
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.generator-button{
    color: var(--primary);
    font-size: inherit;
    font-weight: 700;
    background:-moz-linear-gradient(to bottom right, var(--primary), var(--secondary));
    transition: 0.4s ease-out;
}

.generator-button:hover{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h4{
    color: var(--grey);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.colors{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    gap: 1rem;
}

.color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-radius: 1rem;
    color: #fff;
    background-color: var(--dark);
    transition: 0.4s ease-out;
    border: 2px solid transparent;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color.copied{
    border-color: red;
}

.lock-toggle {
    transition: 0.4s;
}

.lock-toggle.is-locked{
    opacity: 1;
}

.color-input{
    text-align: center;
}

.locks{
    width: 30px;
}

/*Following has been edited out of the tutorial due to errors in running application*/

/* @media (min-width: 768px){
    .colors{
        grid-template-columns: repeat(2, 1fr);
    }
} */

/* @media (min-width: 1024px){
    .colors{
        grid-template-columns: repeat(4, 1fr);
    }

    .color{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .color-input{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
} */